 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/05.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  animation-timing-function: linear;
  margin: 57px 0 0;
}

.u-section-1 .u-list-1 {
  width: 868px;
  margin: 60px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  transition-duration: 0.5s;
  background-image: none;
  margin: 333px auto 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-btn-1 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 30px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 30px !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/papers.co-vd52-abstract-dark-geometric-line-pattern-1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  text-transform: none;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.75;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 2;
  width: 798px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 711px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  width: 868px;
  margin: 25px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 804px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-2 .u-image-1 {
  width: 172px;
  height: 172px;
  background-image: url("images/person-icon.png");
  background-position: 50% 50%;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -172px 1px 0 250px;
}

.u-section-2 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0 251px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 1px 0 250px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-2 .u-image-2 {
  width: 172px;
  height: 172px;
  background-image: url("images/person-icon.png");
  background-position: 50% 50%;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -172px 1px 0 250px;
}

.u-section-2 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0 251px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 1px 0 250px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-2 .u-image-3 {
  width: 172px;
  height: 172px;
  background-image: url("images/person-icon.png");
  background-position: 50% 50%;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -172px 1px 0 250px;
}

.u-section-2 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0 251px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 1px 0 250px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1216px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-image-1 {
    width: 183px;
    height: 183px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-left: 238px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-image-2 {
    width: 183px;
    height: 183px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 12px;
    margin-left: 238px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-image-3 {
    width: 183px;
    height: 183px;
    margin-top: 5px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 12px;
    margin-left: 238px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 213px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 213px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 213px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: 213px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 213px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: 213px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 213px;
    height: 213px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 213px;
    height: 213px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: url("images/default-image.jpg?rand=6948");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px 80px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 912px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-3 .u-list-item-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-3 .u-list-item-5 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-3 .u-list-item-6 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-17 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-18 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-19 {
  margin: 29px 0 0;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 8px 31px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 752px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1296px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-1 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-2 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-3 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-4 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-5 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-6 {
    padding: 9px 41px 11px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 34px;
  }

  .u-section-3 .u-text-17 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 390px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-4 .u-container-layout-2 {
  padding: 21px 30px 30px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0;
  padding: 8px 69px 9px 67px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
  width: 41px;
  height: 48px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
  padding: 8px 69px 9px 67px;
}

.u-section-4 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0;
  padding: 8px 69px 9px 67px;
}

.u-section-4 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 971px;
  margin: 28px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  min-height: 212px;
  grid-auto-columns: 20%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 21px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 21px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-4 .u-text-10 {
  margin: 21px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-4 .u-text-12 {
  margin: 21px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  font-weight: 400;
  margin: 13px auto 0;
}

.u-section-4 .u-text-14 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 23px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.125rem;
  }

  .u-section-4 .u-btn-1 {
    margin-left: -11px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: -11px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: -11px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 77px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 37px;
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(5, 20%);
    min-height: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    margin-left: -53px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: -53px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: -53px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 404px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -290px;
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 536px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 170px;
    padding-left: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 99px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 100px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 99px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 552px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -438px;
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 496px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -329px;
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}