@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
:root {
    --theme-yellow: #00a87e;
    --theme-black: #101820FF;
    --theme-gray: #8892B0;
}

body {
    background-color: var(--theme-black);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins';
    margin-top: 2em;
}

.codes{
  color: white;
}

.mobile-menu {
    display: block;
    width: 100%;
    background: #010101;
    font-weight: 400;
    text-align: left;
    position: fixed;
    top: 0;
    z-index: 9999;
}


/*Strip the ul of padding and list styling*/

.mobile-menu ul {
    display: flex;
    list-style-type: none;
    text-align: right;
    width: 100%;
    background: #010101;
    height: 3em;
}

.loog {
    margin: auto 0 auto auto;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}


/*Create a horizontal list with spacing*/

.mobile-menu li {
    display: inline-block;
    /*float: left;
	margin-right: 1px;*/
}



.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #00a87e;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #00a87e;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #00a87e;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #00a87e;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.mobile-menu li a {
    display: block;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
    background: #010101;
    text-decoration: none;
    padding: 10px 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.hover-underline-animation {
    display: block;
    position: relative;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Poppins';
    margin: auto auto auto auto;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #00a87e;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*Style for dropdown links*/

.mobile-menu li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 4px;
    line-height: 40px;
}


/*Hide dropdown links until they are needed*/

.mobile-menu li ul {
    display: none;
}


/*Make dropdown links vertical*/

.mobile-menu li ul li {
    display: block;
    float: none;
}


/*Prevent text wrapping*/

.mobile-menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/

.mobile-menu .show-menu {
    display: none;
    text-decoration: none;
    color: #fff;
    background: var(--theme-yellow);
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}


/*Hide checkbox*/

.mobile-menu input[type=checkbox] {
    display: none;
}


/*Show menu when invisible checkbox is checked*/

.mobile-menu input[type=checkbox]:checked~#menu {
    display: block;
}


/* SECTION VERTICAL TABS */

/*scroll bar*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #00A97F;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #8892B0;
}


/**/

.abc {
    width: 80%;
    flex: right;
    margin-left: 20%;
    margin-bottom: 2%;
}


.col-md-10 {
    max-width: 120em;
    position: absolute;
}


.none p {
    font-size: 1.2em;
    white-space: nowrap;
    width: auto;
    font-family: 'Poppins';
    display: none;
}
pre {
    color: rgb(255, 255, 255);
    border-style: double;
    border-radius: 0.4em;
    border-color: #00A97F;
    padding: 1em;
    width: 100%;
}

.card {
    background-color: rgba(6, 14, 24, 0.882);
    max-width: 100%;
}
.card-body{
    background-color:rgb(7,15,25);
    width: auto;
    color: rgb(231, 231, 231);
}

.card .card-header{
    background-color: rgb(7,15,25);
}



.tab-pane {
    width: auto;
}

.ab {
    width: 20%;
    float: left;
    text-align: left;
    max-height: 12in;
    margin-top: 2%;
    position: fixed;
    display: block;
    margin-bottom: 2%;
}




/*.sb {
  background-color: #101820FF;
  color: white;
  border-color: rgb(255, 255, 255);
  border-radius: 0.2em;
  width: auto;
  margin-left: 0.2em;
}*/

.btn {
    color: rgb(255, 255, 255);
    text-align: left;
}
.card .card-header .btn{
    font-size: 0.8em;
    text-align: left;
}


.none span {
    font-weight: bold;
    font-family: 'Poppins';
}

#experienceTab.nav-pills {
    background-color: rgba(6, 14, 24, 0.882);
    max-height: 75vh;
    overflow-x: auto;
    display: block;
}

#experienceTab.nav-pills .nav-link.active {
    color: var(--theme-yellow) !important;
    background-color: transparent;
    border-radius: 0px;
    border-left: 3px solid var(--theme-yellow);
}

#experienceTab.nav-pills .nav-link {
    border-radius: 0px;
    border-left: 2px solid var(--theme-gray);
    color: white;
}

.none {
    background-color: var(--theme-black);
    font-size: 20px;
    font-family: 'Poppins';
    padding-bottom: 1em;
}


.tops {
    font-size: 40px;
    font-weight:500;
}

.none ol img {
    padding-top: 1.5em;
}


.forpython {
    min-width: 50em;
}

.date-range {
    letter-spacing: 0.01em;
    color: var(--theme-gray);
    font-size: 20px;
}



/* STUB  LINKS */

a {
    color: var(--theme-gray);
    transition: 0.3s eas-in-out;
    font-family: 'Poppins';
}

a:hover {
    color: var(--theme-yellow);
}


/* top nav bar*/

ul {
    margin: 9px auto;
    padding: 5px 20px;
    border-radius: 8px;
    width: 99.3%;
    list-style-type: none;
    font-family: 'Poppins';
}

ul li.try {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

ul li.try a {
    color: #8BE3F3;
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
    font-size: 18px;
    display: block;
}

ul li.try a+a {
    margin-left: 16px;
}

.navigationbar {
    margin: 0%;
    width: 100%;
    border-radius: 0%;
    top: 0;
    position: fixed;
    z-index: 10000;
}

.navigationbar li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: #00A97F;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

ul a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.butt {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color);
    width: 5em;
    height: 2em;
    margin-top: -50em;
}

.butt::after,
.butt::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.butt::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.butt:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.butt:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.butt:hover {
    color: var(--color2);
}

.butt:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.btn:hover {
    color: #00A97F;
}

.ab input {
    border-style: double;
    border-radius: 0.4em;
    background-color: #010101;
    width: 100%;
    flex: left;
    color: #00A97F;
    border: 2px solid #00A97F;
}


@media screen and (max-width: 800px) {
 
    .ab{
      width: 100%;
      display: block;
      position: relative; 
      margin-top: 3em;  
    }
    .ab input{
      width: 100%;
    }
    .abc{
        width: 100%;
        padding-bottom: 5em;
        position: relative;
        margin-left: 0%;
    }
    .card {
        margin-right: 0.8em;
    }
    .col-md-10 {
        display: contents;
        width: 100%;
    }
    .row {
        width: auto;
        margin: auto;
        margin-left: -2em;
    }
    .tab-pane {
        min-width: 22em;
        padding: 0 1em 0 0;
    }
    .none {
        display: contents;
        width: auto;
    }
    .forcode {
        white-space: nowrap;
        font-size: 0.7em;
        list-style-type: none;
    } 
    .none img {
        max-width: 100%;
        width: 100%;
        height: auto !important;
    }
    .col-md {
        margin-top: -2em;
    }
    .p-5 {
        margin-right: 2em;
    }
    #experienceTab.nav-pills {
        max-height: 50vh;
    }
}
