@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
    --theme-yellow: #00A97F;
    --theme-black: #101820FF;
    --theme-gray: #8892B0;
}

body {
    background-color: var(--theme-black);
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins';
    margin-top: 3em;
}

pre {
    color: white;
    border-style: double;
    border-radius: 0.4em;
    border-color: #00A97F;
    padding: 1em;
}


/* SECTION VERTICAL TABS */

.ab {
    max-height: 12in;
    width: 275px;
}


/*scroll bar*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #00A97F;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #8892B0;
}


/**/

.abc {
    width: auto;
}

.col-md-10 {
    width: auto;
    position: absolute;
}

.none p {
    font-size: 1.2em;
    white-space: nowrap;
    width: auto;
}

.card {
    background-color: rgba(6, 14, 24, 0.882);
    width: auto;
}

.tab-pane {
    width: auto;
}

.ab {
    width: auto;
}

.nav h5 {
    color: white;
    margin-left: 1em;
}

.nav input {
    margin-left: 1em;
}


/*.sb {
  background-color: #101820FF;
  color: white;
  border-color: rgb(255, 255, 255);
  border-radius: 0.2em;
  width: auto;
  margin-left: 0.2em;
}*/

.btn {
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    text-align: left;
}

.card-body {
    width: auto;
    color: rgb(231, 231, 231);
}

.none span {
    font-weight: bold;
}

#experienceTab.nav-pills {
    background-color: rgba(6, 14, 24, 0.882);
    max-height: 50em;
    overflow-x: auto;
    display: block;
}

#experienceTab.nav-pills .nav-link.active {
    color: var(--theme-yellow) !important;
    background-color: transparent;
    border-radius: 0px;
    border-left: 3px solid var(--theme-yellow);
}

#experienceTab.nav-pills .nav-link {
    border-radius: 0px;
    border-left: 2px solid var(--theme-gray);
    color: white;
}

.none {
    background-color: var(--theme-black);
    display: inline-block;
    font-size: 20px;
}

.tops {
    font-size: 30px;
}

.none ol img {
    padding-top: 1.5em;
}

.forpython {
    min-width: 50em;
}

.date-range {
    letter-spacing: 0.01em;
    color: var(--theme-gray);
}


/* STUB  LINKS */

a {
    color: var(--theme-gray);
    transition: 0.3s eas-in-out;
}

a:hover {
    color: var(--theme-yellow);
}


/* top nav bar*/

ul {
    background: #010101;
    display: table;
    margin: 9px auto;
    padding: 5px 20px;
    border-radius: 8px;
    width: 99.3%;
    list-style-type: none;
}

ul li.try {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

ul li.try a {
    color: #8BE3F3;
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
    font-size: 18px;
    display: block;
}

ul li.try a+a {
    margin-left: 16px;
}

.navigationbar {
    margin: 0%;
    width: 100%;
    border-radius: 0%;
    top: 0;
    position: fixed;
    z-index: 10000;
}

.navigationbar li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: #00A97F;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

ul a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.butt {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color);
    width: 5em;
    height: 2em;
    margin-top: -50em;
}

.butt::after,
.butt::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.butt::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.butt:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.butt:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.butt:hover {
    color: var(--color2);
}

.butt:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.btn:hover {
    color: #00A97F;
}

.ab input {
    border-style: double;
    border-radius: 0.4em;
    background-color: #010101;
    margin-left: 1em;
    color: #00A97F;
    border: 2px solid #00A97F;
}

@media only screen and (max-width: 600px) {
    .nav {
        width: 18em;
        height: 20em;
    }
    .card {
        margin-left: -2em;
    }
    .row {
        width: auto;
        margin: auto;
        margin-left: -2em;
    }
    .tab-pane {
        width: 20em;
        margin-top: 2em;
        margin-left: 0.5em;
        padding: 0 0 0 0;
    }
    .abc {
        width: 5em;
        margin: 0%;
    }
    .none ul {
        margin-right: -50em;
        width: 15.5em;
        margin: 0%;
    }
    .forcode {
        white-space: nowrap;
        font-size: 0.7em;
        list-style-type: none;
    }
    .none img {
        max-width: 100%;
        width: 100%;
        height: auto !important;
    }
    .ab input {
        margin: 2em 0 0 2.5em;
    }
}
